.form
  %form{:action => '/'}
    %label{:for => 'user'}
      Owner:
    %input{:name => 'user'}
    %label{:for => 'project'}
      Project:
    %input{:name => 'project'}
    %input{:type => 'submit', :value => 'Blame!'}