header {
  text-align:center;
}
.form {
  text-align:center;
  margin-top:10%
}
.fail {
  color:red;
}
.pass {
  color:green;
}
.blame {
  margin-top:10%;
  margin-left:40%;
}
.avatar {
  margin-left:10%;
}
footer {
  margin-top: 10%;
  text-align:center;
}